
## this file is used by Git to clarify which files should be ignored in the
#commit.

## the first two files are automatically created by Mac OS X operating system
#when a new directory is created
**/.DS_Store
Icon
## also ignore all data files
**/data
!**/data/.gitkeep
## and ignore all data and history created by running R in batch
**/.RData
**/.Rhistory


#Shiny/prep_for_Shiny/get_tables.R
