## this file is used by Git to clarify which files should be ignored in the commit.

## when a new directory is created
**/.DS_Store
Icon
**/desktop.ini

## and ignore any API credentials stored in python
./**/credentials.py

## ignore ipynb files
**/.ipynb*

## also ignore all data files
**/data/*
!**/data/.gitkeep

**/data/raw/*
!**/data/raw/.gitkeep

**/data/interim/*
!**/data/interim/.gitkeep

**/data/processed/*
!**/data/processed/.gitkeep

## and figures files
**/figures/*
!**/figures/.gitkeep

## and out files
**/src/out_files/*
!**/src/out_files/.gitkeep

## and ignore all data and history created by running R in batch
**/.RData
**/.Rhistory

## and ignore any API credentials stored in python
./**/credentials.py
